/* Default styles */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.1vw;
  line-height: 1.5;
}

.navigation {
  background-color: #333;
  display: flex;
  justify-content: center;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin: 0 1vw;
}

.navigation a {
  display: block;
  padding: 1vw;
  color: white;
  text-decoration: none;
}

.paragraphBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 10vw;
}

#image {
  width: 40vw;
  height: 40vw;
  margin: 2vh 0;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#paragraphs {
  text-align: center;
  margin-top: 2vh;
}

#title {
  margin-bottom: 2vh;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
  margin-bottom: 1vh;
}

/* Media queries */

/*
@media screen and (max-width: 768px) {
  body {
    font-size: 3vw;
  }
  
  #image {
    width: 80vw;
    height: 80vw;
    margin: 5vh 0;
  }
  
  h1 {
    font-size: 6vw;
  }
  
  h2 {
    font-size: 4vw;
  }
}
*/